* {
  border: none;
  border-radius: 0;
  font-family: "JetBrains Mono";
  font-size: 14px;
  color: #f8f8f2;
  transition: all 0.2s ease;
  
}

window#waybar {
  background: #282a36;
}

#workspaces {
  margin: 0 5px;
}

#workspaces button {
  padding: 0 15px;
  font-size: 28px;
  color: #6272a4;
}

#workspaces button.active {
  color: #50fa7b;
  background: #44475a;
}

#workspaces button:hover {
  background: #44475a;
  color: #f8f8f2;
}


#window {
  padding: 0 14px;
  font-weight: bold;
}

#language,
#bluetooth,
#network,
#pulseaudio,
#battery,
#backlight,
#clock,
#tray {
  padding: 0 12px;
  margin: 4px 0; 
  border-left: 1px solid #6272a4;
}

#language {
  border-left: none;
}

#custom-nixos {
  font-size: 28px;
  padding: 0 15px;
}

#bluetooth {
  color: #8be9fd;
}

#network {
  color: #50fa7b;
}

#pulseaudio {
  color: #ffb86c;
}

#pulseaudio.muted {
  color: #ff5555;
}

#battery {
  color: #8be9fd;
}

#battery.charging {
  color: #50fa7b;
}

#battery.warning {
  color: #ffb86c;
}

#battery.critical {
  color: #ff5555;
}

#backlight {
  color: #f1fa8c;
}

#clock {
  color: #bd93f9;
}

#tray {
  padding: 0 10px;
}
