* {
  border: none;
  border-radius: 0;
  font-family: "JetBrains Mono";
  font-size: 14px;
  min-height: 40px;
  color: #f8f8f2;
}

window#waybar {
  background: #282a36;
}

/* Workspace Buttons */
#workspaces {
  margin: 0 10px;
  padding: 0 5px;
}

#workspaces button {
  padding: 0 10px;
  font-size: 20px;
  color: #6272a4;
}

#workspaces button.active {
  color: #f8f8f2;
  background: #44475a;
}

#workspaces button:hover {
  background: #44475a;
  color: #f8f8f2;
}

/* Modules */
#bluetooth {
  margin: 0 10px;
  color: #8be9fd;
}

#network {
  margin: 0 10px;
  color: #50fa7b;
}

#pulseaudio {
  margin: 0 10px;
  color: #ffb86c;
}

#pulseaudio.muted {
  color: #ff5555;
}

#battery {
  margin: 0 10px;
  color: #8be9fd;
}

#battery.warning {
  color: #ffb86c;
}

#battery.critical {
  color: #ff5555;
}

#backlight {
  margin: 0 10px;
  color: #f1fa8c;
}

#clock {
  margin: 0 10px;
  color: #bd93f9;
}

#tray {
  margin: 0 10px;
}

#window {
  margin: 0 10px;
}

#language {
  margin: 0 10px;
  color: #f8f8f2;
}
